body {
background-image: url("../img/background.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.container {
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: sans-serif;
  font-size: 120%;
}

#header {
  text-align: center;
}

input {
  width: 30%;
  margin-right: 10px;
  text-align: center;
  border: 2px solid rgb(34, 44, 90)
}

#output {
  display: none;
  border: 3px solid rgb(44, 82, 139);
  margin-top: 20px;
  padding: 20px;
}